@import '~bulma/bulma.sass';

html, body {
  height: 100%;
  width: 100%;
}

body{
  overflow-x: hidden;
}

.container {
  height: 100%;
  .is-ancestor {
    height: 94%;
  }
  table{
    overflow-x: auto;
  }
  .tabs-content{
    display: none;
    &.is-active{
      display: block;
    }
  }
  .card.service {
    height: 92vh;
    overflow: hidden;
    .card-content{
      overflow-y: auto;
      height: 100%;
    }
  }
}